/* home.css */

.home {
    text-align: center;
  }
  
  .home h1 {
    text-align: center;
    color: turquoise;
  }
  
  .home .header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .home .content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    text-align: left;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .home .content .image-container {
    margin-bottom: 20px; /* Adjust the spacing between image and text */
  }
  
  @media (max-width: 767px) {
    .home .content {
      padding: 20px;
      display: block;
    }
  }

  