.livestream {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .livestream h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .livestream iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border: 0; /* Remove iframe border */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }