
.Footer {
    background-color: black;
    color: teal;
    padding: 20px;
    margin-top: auto; /* Push the footer to the bottom of the container */
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*****\ 
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #495057;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons i {
    font-size: 24px;
  }
  /*****/