.geospatial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.geospatial {
  text-align: center;
  padding: 20px;
}

.map-container {
  width: 100%; /* Full width */
  height: 600px; /* Adjust as needed */
  margin-top: 20px;
}
