body {
  background-color: #aaa;
  font-family: sans-serif;
}

.App {}

h1 {
  margin: 0em 0em 1.3em;
  color: #333;
}

.accept {
  display: block;
  background-color: green;
  color: white;
  border-radius: 7px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  font-size: 18px;
  padding: 0.5em 0.8em;
  transition: all 0.1s;
  outline: none;
  user-select: none;
  text-decoration: none;
}

.accept.disabled:active {
  opacity: 0.7;
}

.accept.disabled {
  background-color: hsl(0, 0%, 60%);
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(30, 30, 30, 0.4);
  border-radius: 10px;
  background: white;
  height: 11em;
  width: 40%;
  padding: 2.5em 2em;
  margin: 10% auto;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);

  transition: all 0.5s;
}

.modal.disabled {
  opacity: 0;
  transform: translateY(20px);
}

.text {
  user-select: none;
}

.footer {
  display: flex;
  margin: 2em 0;
  align-items: baseline;
  justify-content: flex-end;
}

.hint {
  position: relative;
  color: #333;
  font-size: 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  background-color: #eee;
  margin-right: 1em;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 100px 80px rgba(0, 0, 0, 0.07);
  user-select: none;
  opacity: 1;
  transition: opacity 0.3s;
}

.hint.disabled {
  opacity: 0;
}

.hint.hidden {
  display: none;
}

.hint::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.5em;
  width: 0.5em;
  border: 1px solid #aaa;
  border-width: 1px 1px 0 0;
  background-color: #eee;
  right: calc(0% - 0.32em);
  top: 0.5em;
  transform: rotate(45deg);
}

.container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body-content {
  flex: 1;
}